.accent-color {
  color: #e85e2c;
  font-size: 14px;
  font-weight: 700;
}

.gradient-effect {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.margin-top-default {
  margin-top: 20px;
}
