@import url(./normalize.css);
@import url(./reset.css);
/* 기본스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}


/* 본문 스타일 */
body{
  /* em : 부모로 부터 상속받은 단위로 게산 , rem : root를 기준으로 상속받음 단위 사용해보기 */
  /* 반응형 작업할때 많이 사용 */
  font-size: 1.4rem;
  color: #212121;
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
/* 선택자 그룹핑 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
} 

/* 헤더 */
.header{
  background-color: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo{
  position: absolute;
  top : 15px;
  left: 60px;
}

/* 텍스트링크 모음 */
.member{
  /* background-color: aqua; */
  text-align: right;
  /* 블록 안에있는 inline 박스들을 설정해주는것 */
  padding: 4px 0;
  /* position 속성 활용하여 member영역을 오른쪽으로 이동 */
  position: relative;
  transform: translate(10px);
  
} 

.member li{
  /* background-color: aqua; */
  display: inline-block;
}



.member a{
  text-transform: uppercase;
  padding: 6px 10px;
  display: inherit;
}

.divider{
  margin-right: 4px;
}

/* 비주얼 */
.visual{
  background-color: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background-color: lightgreen;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
  
}

.group {
  margin: 0 15px;
  float: left;
}

.group1{
  background-color: red;
  width: 250px;
}

.group2{
  background-color: blue;
  width: 380px;
  color: white;
}

.group3{
  background-color: gold;
  width: 190px;
}

/* 슬로건 */
.slogan{
  background-color: skyblue;
  height: 10vh;
  
}
/* 푸터 */
.footer{
  background-color: gray;
}

.footer-inner{
  background-color: purple;
  height: 15vh;
}
