@import url(./normalize.css);
@import url(./reset.css);

.a11y-hidden{
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* hidden : 넘어갈떄 넘어가능 영역을 감출지 */
  clip-path: polygon(0 0, 0 0, 0 0);
  /*  */
}

/* 기본스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}


/* 본문 스타일 */
body{
  /* em : 부모로 부터 상속받은 단위로 게산 , rem : root를 기준으로 상속받음 단위 사용해보기 */
  /* 반응형 작업할때 많이 사용 */
  font-size: 1.4rem;
  color: #212121;
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%); 
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
/* 선택자 그룹핑 */
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
} 

/* 헤더 */
.header{
  background-color: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
  /* height: 15vh; */
  /* 높이를 지정하지 않는 이유는 유연하게 메인바를 지정하기 위해서 */
}

/* 로고 */
.logo{
  position: absolute;
  top : 45px;
  left: 60px;
}

/* 텍스트링크 모음 */
.member{
  /* background-color: aqua; */
  text-align: right;
  /* 블록 안에있는 inline 박스들을 설정해주는것 */
  padding: 4px 0;
  /* position 속성 활용하여 member영역을 오른쪽으로 이동 */
  /* position: relative; */
  /* right : -10px */
  transform: translate(10px);
  
} 

.member li{
  /* background-color: aqua; */
  display: inline-block;
  
}

.member a{
  /* background-color: aqua; */
  text-transform: uppercase;
  padding: 6px 10px;
  display: inherit;
  
}

.divider{
  margin-right: 4px;
}

/* 메인메뉴 */
.navigation{
  padding-bottom: 80px;
}
.menu {
  /* currentcolor : inherit 랑 같다 */
  border-top: 2px solid currentColor; 
  /* 리니어 그라디언트는 벽지에 효과 주기 */
  background: #e85e2c linear-gradient(
      to bottom,
      #1e5799 0%,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%);
  border-radius: 0 0 5px 5px;
  /* flow-root를 이용해서 부모의 높이를 찾아줌 */
  /* height를 넣어줌으로써 flow-root 없어도됨 */
  /* display: flow-root; */
  padding-left: 230px;
  height: 47px;
  position: relative;
}
/* li를 기준으로 배치 */
.menu > li:nth-child(-n+3){
  position: relative;
}

.menu-item{
  /* background-color: aqua; */
  /* float 쓰면 부모 높이 잃어버림 flow-root 사용해서 찾아준다 */
  /* 자기자신이 뜨면서 배치 */
  float: left;
  border-left: 2px solid #FFF;
}

/* 버트의 텍스트 / 구체성 점수->10점 */
.menu-button{
  border: 0;
  /* transparen 투명 */
  background-color: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  /* x y 블러처리값 색깔 */
  text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}

/* 버튼의 텍스트 / (클래스2개)구체성 점수 ->20점 */
/* 부모인 li가 is-active란 클래스를 가질떄 발동 */
.is-active .menu-button{
  color: #ff0;
}

.is-active .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #212121;
}

.sub-menu{
  background-color: pink;
  /* 좌표 바꿔가면서 배치할려고 absolute 로 배치 */
  position: absolute;
  /* 임시로 숨겨줌 is-active 사용하면 돌아오게끔  */
  top : 47px;
  display: none; 
}
/* li 기준으로 배치  */
.menu-html, .menu-css, .menu-standards{
  left: 0; 
}
/* li가 아닌 menu를 기준으로 배치 */
.menu-accessibility, .menu-qna, .menu-archive{
  right: 0;
}
.is-active .sub-menu{
  /* float : left 로 지정할거여서 block씀 */
  display: block;
  /* 공백문자를 줄바꿈 하지 말아라 */
  white-space: nowrap;
}

.sub-menu li{
  display: inline-block;
  padding-left: 1em;
}


/* 비주얼 */
.visual{
  background-color: orange;
  height: 10vh;
}
/* 메인 */
.main{
  background-color: lightgreen;
  height: 50vh;
  display: flow-root;
  padding: 0 15px;
  
}

.group {
  margin: 0 15px;
  float: left;
}

.group1{
  background-color: red;
  width: 250px;
}

.group2{
  background-color: blue;
  width: 380px;
  color: white;
}

.group3{
  background-color: gold;
  width: 190px;
}

/* 슬로건 */
.slogan{
  background-color: skyblue;
  height: 10vh;
  
}
/* 푸터 */
.footer{
  background-color: gray;
  background: #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 70%, #fff 100%); 
}

.footer-inner{
  background-color: purple;
  height: 15vh;
}
